$main-color: #380E30;
$mid-color: #6E4F68;
$light-color: #fff;
$submit-background: #330D2C;
$submit-border: #2E0C28;
$submit-hover: #927B8E;


@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:visited,
  &:active,
  &:link,
  &:hover {
    color: $main-color;
  }
}

p {
  margin-bottom: 10px;
}

body {
  // padding: 20px;
  min-height: 100vh;

  @include breakpoint(md) {
    margin: 0 10vw;
  }
  @include breakpoint(lg) {
    margin: 0 10vw;
  }
}

.header {
  padding: 30px;
  @include breakpoint(sm) {
    padding-top: 75px;
  }
  @include breakpoint(md) {
    padding-top: 35px;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-color;

    .title {
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;

      @include breakpoint(sm) {
        font-size: 4em;
      }
      @include breakpoint(md) {
        font-size: 2.5em;
      }
    }

    .menu-button {
      display: none;
      .icon {
        width: 48px;
        @include breakpoint(sm) {
          width: 86px;
        }
        @include breakpoint(md) {
          width: 64px;
        }
      }
    }

    .visible {
      display: block;
    }
  }

  .nav {
    display: none;
    background-color: $light-color;

    border-top: ridge;
    border-bottom: ridge;

    @include breakpoint(sm) {
      margin-top: 1vh;
    }

    &.visible {
      display: block;
    }

    ul {
      li {
        list-style: none;
        border-bottom: $light-color solid 0.5px;
        .nav-link {
          font-size: large;
          font-weight: bold;
          @include breakpoint(sm) {
            font-size: 2.5em;
          }
          @include breakpoint(md) {
            font-size: 1.25em;
          }
          &.active {
            background-color: $mid-color;
          }
          &:link,
          &:visited {
            padding: 14px 0;
            @include breakpoint(sm) {
              padding: 16px 0;
            }
            text-align: center;
            display: inline-block;
            width: 100%;
          }
          &:hover,
          &:active {
            background-color: $main-color;
            color: $light-color;
          }
        }
      }
    }
  }
}

.content {
  min-height: 90vh;
  padding: 0 30px 20px 30px;

  @include breakpoint(sm) {
    margin-top: 1vh;
  }
}
