$menu-on-hover-color: red;
$menu-items-color: green;
$menu-background: orange;
$menu-current-link-color: blue;

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:visited,
  &:active,
  &:link,
  &:hover {
    color: #000;
  }
}
body {
  // padding: 20px;
  min-height: 100vh;

  @include breakpoint(md) {
    margin: 0 10vw;
  }
  @include breakpoint(lg) {
    margin: 0 20vw;
  }
}
.header {
  padding: 30px;
  @include breakpoint(sm) {
    padding-top: 75px;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .title {
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;

      @include breakpoint(sm) {
        font-size: 4em;
      }
    }

    .menu-button {
      display: none;
      .icon {
        width: 48px;
        @include breakpoint(sm) {
          width: 86px;
        }
      }
    }

    .visible {
      display: block;
    }
  }

  .nav {
    display: none;
    background-color: #fff;

    @include breakpoint(sm) {
      margin-top: 1vh;
    }

    &.visible {
      display: block;
    }

    ul {
      // background-color: $menu-background;
      li {
        list-style: none;
        // background-color: $menu-items-color;
        border-bottom: #fff solid 0.5px;
        .nav-link {
          font-size: large;
          font-weight: bold;
          @include breakpoint(sm){
            font-size: 2.5em;
          }
          &.active {
            background-color: #888888;
          }
          &:link,
          &:visited {
            // background-color: #f44336;
            // color: white;
            padding: 14px 0;
            @include breakpoint(sm){
              padding: 16px 0;
            }
            text-align: center;
            // text-decoration: none;
            display: inline-block;
            width: 100%;
          }
          &:hover,
          &:active {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
}
.content {
  // background: url(/src/assets/home.jpg) center center no-repeat;
  // background-color: teal;
  // background-size: cover;
  min-height: 90vh;
  @include breakpoint(sm){
    margin-top: 1vh;
  }
  .profile-img {
    img {
      transform: translate(-50%, 0);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-top: 25px;
      position: relative;
      left: 50%;

      @include breakpoint(sm) {
        width: 500px;
        height: 500px;
      }
    }
  }
  .social-media {
    display: flex;
    margin-top: 30px;
    list-style: none;
    justify-content: center;
    align-items: center;

    @include breakpoint(sm){
      margin-top: 5vh;
    }

    li:not(:first-child) {
      padding-left: 20px;
    }
    img {
      // border: #fff 2px solid;
      height: 64px;
      @include breakpoint(sm){
        height: 128px;
      }
    }
  }
}

.greeting {
  padding: 0 30px;
  margin-top: 20px;
  text-align: center;

  @include breakpoint(sm) {
    margin-top: 3vh;
  }

  .greeting-title {
    font-size: xx-large;
    padding: 25px 0;
    @include breakpoint(sm) {
      font-size: 4em;
    }
  }

  .greeting-text {
    font-size: x-large;
    @include breakpoint(sm) {
      font-size: 2.5em;
      margin-top: 1vh;
    }
  }
}
