.content {
  .social {
    .social-text {
      margin: 20px 0;
      font-size: 1.3em;
      line-height: 1.3em;
    }
    .social-icons {
      // text-align: center;
      display: flex;
      justify-content: space-evenly;
      .icon {
        width: 64px;
        height: 64px;

        // &:not(:first-child) {
        //     margin-left: 15px;
        // }
      }
    }
  }
  .contact {
    .contact-text {
      margin: 20px 0;
      font-size: 1.3em;
      line-height: 1.3em;
    }

    .contact-form {
        // max-width: 400px;
        margin: 10px auto;
        // padding: 16px;
        // background: #f7f7f7;

      input[type="text"],
      input[type="email"],
      input[type="number"],
      textarea{
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: #fff;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        padding: 3%;
        color: #555;
        font-size: 1.1em;
      }
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="number"]:focus,
      textarea:focus {
        box-shadow: 0 0 5px #313333;
        padding: 3%;
        border: 1px solid #212222;
      }

      input[type="submit"],
      input[type="button"] {
          font-size: 1.3em;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        padding: 3%;
        background: #262928;
        border-bottom: 2px solid #363838;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        color: #fff;
      }
      input[type="submit"]:hover,
      input[type="button"]:hover {
        background: #687270;
      }
    }
  }
}
