* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited, a:active, a:link, a:hover {
  color: #380E30;
}

p {
  margin-bottom: 10px;
}

body {
  min-height: 100vh;
}
@media (min-width: 992px) {
  body {
    margin: 0 10vw;
  }
}
@media (min-width: 1200px) {
  body {
    margin: 0 10vw;
  }
}

.header {
  padding: 30px;
}
@media (min-width: 768px) {
  .header {
    padding-top: 75px;
  }
}
@media (min-width: 992px) {
  .header {
    padding-top: 35px;
  }
}
.header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header .header-top .title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}
@media (min-width: 768px) {
  .header .header-top .title {
    font-size: 4em;
  }
}
@media (min-width: 992px) {
  .header .header-top .title {
    font-size: 2.5em;
  }
}
.header .header-top .menu-button {
  display: none;
}
.header .header-top .menu-button .icon {
  width: 48px;
}
@media (min-width: 768px) {
  .header .header-top .menu-button .icon {
    width: 86px;
  }
}
@media (min-width: 992px) {
  .header .header-top .menu-button .icon {
    width: 64px;
  }
}
.header .header-top .visible {
  display: block;
}
.header .nav {
  display: none;
  background-color: #fff;
  border-top: ridge;
  border-bottom: ridge;
}
@media (min-width: 768px) {
  .header .nav {
    margin-top: 1vh;
  }
}
.header .nav.visible {
  display: block;
}
.header .nav ul li {
  list-style: none;
  border-bottom: #fff solid 0.5px;
}
.header .nav ul li .nav-link {
  font-size: large;
  font-weight: bold;
}
@media (min-width: 768px) {
  .header .nav ul li .nav-link {
    font-size: 2.5em;
  }
}
@media (min-width: 992px) {
  .header .nav ul li .nav-link {
    font-size: 1.25em;
  }
}
.header .nav ul li .nav-link.active {
  background-color: #6E4F68;
}
.header .nav ul li .nav-link:link, .header .nav ul li .nav-link:visited {
  padding: 14px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}
@media (min-width: 768px) {
  .header .nav ul li .nav-link:link, .header .nav ul li .nav-link:visited {
    padding: 16px 0;
  }
}
.header .nav ul li .nav-link:hover, .header .nav ul li .nav-link:active {
  background-color: #380E30;
  color: #fff;
}

.content {
  min-height: 90vh;
  padding: 0 30px 20px 30px;
}
@media (min-width: 768px) {
  .content {
    margin-top: 1vh;
  }
}

.content .profile-img {
  margin-top: 25px;
}
.content .profile-img img {
  transform: translate(-50%, 0);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  left: 50%;
}
@media (min-width: 768px) {
  .content .profile-img img {
    width: 500px;
    height: 500px;
  }
}
@media (min-width: 992px) {
  .content .profile-img img {
    width: 300px;
    height: 300px;
  }
}
.content .social-media {
  display: flex;
  margin-top: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .content .social-media {
    margin-top: 5vh;
  }
}
.content .social-media li:not(:first-child) {
  padding-left: 20px;
}
.content .social-media img {
  height: 64px;
}
@media (min-width: 768px) {
  .content .social-media img {
    height: 128px;
  }
}
@media (min-width: 992px) {
  .content .social-media img {
    height: 64px;
  }
}
.content .greeting {
  text-align: center;
}
@media (min-width: 768px) {
  .content .greeting {
    margin-top: 3vh;
  }
}
@media (min-width: 992px) {
  .content .greeting {
    margin-top: 1vh;
  }
}
.content .greeting .greeting-title {
  font-size: xx-large;
  padding: 25px 0;
}
@media (min-width: 768px) {
  .content .greeting .greeting-title {
    font-size: 4em;
  }
}
@media (min-width: 992px) {
  .content .greeting .greeting-title {
    font-size: 2.5em;
  }
}
.content .greeting .greeting-text {
  font-size: x-large;
}
@media (min-width: 768px) {
  .content .greeting .greeting-text {
    font-size: 2.5em;
    margin-top: 1vh;
  }
}
@media (min-width: 992px) {
  .content .greeting .greeting-text {
    margin-top: 0.5vh;
    font-size: 1.5em;
  }
}

.content .title .title-text {
  text-align: center;
  font-size: 1.75em;
  padding-bottom: 2.5vh;
  border-bottom: ridge;
}
.content .about-me {
  margin-top: 20px;
  font-size: 1.25em;
}
.content .skills {
  margin-top: 25px;
}
.content .skills .sub-title {
  font-size: 1.5em;
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: ridge;
}
.content .skills .skills-data {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.content .skills .skills-data div {
  width: 40%;
}
.content .skills .skills-data .skill-title {
  margin-bottom: 10px;
}
.content .skills .skills-data .skill-items {
  list-style: none;
}
.content .skills .skills-data .skill-items .skill-item {
  padding-left: 5px;
}
.content .skills .skills-data .skill-items .skill-item:not(:first-child) {
  padding-top: 5px;
}
.content .download {
  margin-top: 35px;
  text-align: center;
}
.content .download .download-cv:link,
.content .download .download-cv:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: #380E30 4px solid;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #380E30;
}
.content .download .download-cv:hover,
.content .download .download-cv:active {
  background-color: #380E30;
  color: #fff;
}

.projects {
  margin: 15px 0;
}
.projects .project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 25px;
}
@media (min-width: 992px) {
  .projects .project {
    grid-template-rows: auto auto;
  }
}
.projects .project .project-title {
  grid-column-start: 1;
  grid-column-end: 13;
}
.projects .project .project-title h2 {
  font-size: 1.25em;
}
.projects .project .project-hero {
  grid-column-start: 1;
  grid-column-end: 13;
}
.projects .project .project-hero img {
  width: 100%;
}
.projects .project .project-hero .project-links {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0);
  top: -30%;
}
@media (min-width: 992px) {
  .projects .project .project-hero .project-links {
    top: -20%;
  }
}
.projects .project .project-hero .project-links .project-link:link, .projects .project .project-hero .project-links .project-link:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: #fff 4px solid;
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #fff;
  color: #380E30;
}
.projects .project .project-hero .project-links .project-link:active, .projects .project .project-hero .project-links .project-link:hover {
  background-color: #380E30;
  color: #fff;
}
.projects .project .project-hero .project-links .project-link:not(:first-child) {
  margin-left: 20px;
}
.projects .project .project-desc {
  grid-column-start: 1;
  grid-column-end: 13;
}
.projects .project .project-desc p {
  font-size: 1.2em;
}
@media (min-width: 992px) {
  .projects .project .align-left {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (min-width: 992px) {
  .projects .project .align-right {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.blogs {
  margin: 15px 0;
}
.blogs .blog {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 25px;
}
@media (min-width: 992px) {
  .blogs .blog {
    grid-template-rows: auto auto;
  }
}
.blogs .blog .blog-title {
  grid-column-start: 1;
  grid-column-end: 13;
}
.blogs .blog .blog-title h2 {
  font-size: 1.25em;
}
.blogs .blog .blog-hero {
  grid-column-start: 1;
  grid-column-end: 13;
}
.blogs .blog .blog-hero img {
  width: 100%;
}
.blogs .blog .blog-hero .blog-links {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0);
  top: -30%;
}
@media (min-width: 992px) {
  .blogs .blog .blog-hero .blog-links {
    top: -20%;
  }
}
.blogs .blog .blog-hero .blog-links .blog-link:link, .blogs .blog .blog-hero .blog-links .blog-link:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: #fff 4px solid;
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #fff;
  color: #380E30;
}
.blogs .blog .blog-hero .blog-links .blog-link:active, .blogs .blog .blog-hero .blog-links .blog-link:hover {
  background-color: #380E30;
  color: #fff;
}
.blogs .blog .blog-hero .blog-links .blog-link:not(:first-child) {
  margin-left: 20px;
}
.blogs .blog .blog-desc {
  grid-column-start: 1;
  grid-column-end: 13;
}
.blogs .blog .blog-desc p {
  font-size: 1.2em;
}
@media (min-width: 992px) {
  .blogs .blog .align-left {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (min-width: 992px) {
  .blogs .blog .align-right {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.content .title p {
  font-size: 1.05em;
  text-transform: capitalize;
  margin: 10px 0;
}
@media (min-width: 992px) {
  .content .blog-content .blog-hero {
    float: left;
  }
}
.content .blog-content .blog-hero img {
  width: 100%;
}
@media (min-width: 992px) {
  .content .blog-content .blog-hero img {
    width: 35vw;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.contact-page .content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
@media (min-width: 992px) {
  .contact-page .content {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
  }
}
.contact-page .content .title {
  grid-column-start: 1;
  grid-column-end: 13;
}
.contact-page .content .social {
  grid-column-start: 1;
  grid-column-end: 13;
}
@media (min-width: 992px) {
  .contact-page .content .social {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}
.contact-page .content .social .social-media {
  justify-content: start;
}
.contact-page .content .social .social-media .icon {
  width: 60px;
  height: 60px;
}
.contact-page .content .social .social-text {
  margin: 20px 0;
  font-size: 1.3em;
  line-height: 1.3em;
}
.contact-page .content .contact {
  grid-column-start: 1;
  grid-column-end: 13;
}
@media (min-width: 992px) {
  .contact-page .content .contact {
    grid-column-start: 7;
    grid-column-end: 13;
  }
}
.contact-page .content .contact .contact-text {
  margin: 20px 0;
  font-size: 1.3em;
  line-height: 1.3em;
}
.contact-page .content .contact .contact-form {
  margin: 10px auto;
}
.contact-page .content .contact .contact-form input[type=text],
.contact-page .content .contact .contact-form input[type=email],
.contact-page .content .contact .contact-form input[type=number],
.contact-page .content .contact .contact-form textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font-size: 1.1em;
}
.contact-page .content .contact .contact-form input[type=text]:focus,
.contact-page .content .contact .contact-form input[type=email]:focus,
.contact-page .content .contact .contact-form input[type=number]:focus,
.contact-page .content .contact .contact-form textarea:focus {
  box-shadow: 0 0 5px #313333;
  padding: 3%;
  border: 1px solid #212222;
}
.contact-page .content .contact .contact-form input[type=submit],
.contact-page .content .contact .contact-form input[type=button] {
  font-size: 1.3em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #330D2C;
  border-bottom: 2px solid #2E0C28;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.contact-page .content .contact .contact-form input[type=submit]:hover,
.contact-page .content .contact .contact-form input[type=button]:hover {
  background: #927B8E;
}
