/* Error: Expected identifier.
 *     ,
 * 138 |             background-color: #$mid-color;
 *     |                                ^
 *     '
 *   src/sass/_common.scss 138:32  @import
 *   src/sass/main.scss 1:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a     \2577 \a 138 \2502              background-color: #$mid-color;\a     \2502                                 ^\a     \2575 \a   src/sass/_common.scss 138:32  @import\a   src/sass/main.scss 1:9        root stylesheet";
}
